<h1><%= @user.name.capitalize %></h1>
<p>Find me in app/views/users/show.html.erb</p>


<% unless friends_already?(@user) || @user.id == current_user.id %>
  <%= button_to 'Friend Me',  friend_requests_path, params: { friend_id: @user.id } %>
<% end %>

<h2>Friends</h2>
<% @user.all_friends.each do |f| %>
  <p><%= f.name %></p>
<% end %>
