<div class="container col-6">
  <h1 class="text-center mt-4">Friend Requests</h1>
  <% if @requesters %>
    <div class="d-flex justify-content-center mt-4 mb-4">
      <div class="digg_pagination">
        <%= will_paginate @requesters, :container => false %>
      </div>
    </div>
    <% @requesters.each do |user| %>
      <div class="card text-center mt-4">
        <h5 class="card-header"><%= user.name %></h5>
        <div class="card-body">
          <div class="btn-group">
            <%= button_to 'Reject', friend_request_path(current_user.id), method: :delete, params: { friend_id: user.id }, class: "btn btn-outline-danger mr-2" %>
            <%= button_to 'Accept', friendships_path, params: { user_id: user.id }, class: "btn btn-outline-success" %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>