<h1>Friend Requests</h1>
<ul>
  <% @user.request_users.each do |user| %>
    <li><%= user.name %> <%= button_to 'Accept', friendships_path, params: { user_id: user.id } %> <%= link_to 'Reject'%></li>
  <% end %>
</ul>