<%= form_with model: @post, url: user_posts_path(@user), local: true, class: "form-inline shadow p-3" do |f| %>
  <%= f.text_area :body, class: "form-control col-6", placeholder: "write your post..." %>
  <label class="btn btn-outline-success col-2 ml-4 mr-3">
    Add Photo
    <span style="display:none">
      <%= f.file_field :photo, class: "btn form-control-file" %>
    </span>
  </label>
  
  <%= f.submit class: "btn btn-outline-success form-control col-3" %>
<% end %>