@import 'bootstrap/dist/css/bootstrap';

// .container, .row {
//   border: 1px solid black;
// }

/*Navbar*/

.navbar {
  background-color: #cc72c5 !important;
}

.logo {
  float: left;
  font-size: 2em;
  font-weight: bold;
}

.card-header, .card-footer {
  background-color: #fde8fb;
}

#friend_btn {
  height: 10px;
}