@import 'bootstrap/dist/css/bootstrap';

// .container, .row {
//   border: 1px solid black;
// }

/*Navbar*/

.navbar {
  background-color: #8f4589 !important;
}

.logo {
  float: left;
  font-weight: bold;
}

.card-header, .card-footer {
  background-color: #fde8fb;
}

#friend_btn {
  height: 10px;
}

/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

/*Pagination*/

.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; 
    border-radius: 5px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #30b14c;
    color: white;
    border: 1px solid #999999; }
  .digg_pagination a {
    text-decoration: none;
    color: #30b14c;
    border: 1px solid #999999; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: black;
      border-color: #999999;
      background-color: #f0f0f0;}
  .digg_pagination .page_info {
    background: #30b14c;
    color: #999999;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #999999;
      background: #30b14c;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }
