@import 'bootstrap/dist/css/bootstrap';

// .container, .row {
//   border: 1px solid black;
// }

/*Navbar*/

.navbar {
  background-color: #8f4589 !important;
}

.logo {
  float: left;
  font-weight: bold;
}

.card-header, .card-footer {
  background-color: #fde8fb;
}

#friend_btn {
  height: 10px;
}

/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}
