<footer id="sticky-footer" class="py-4 bg-dark text-white-50 mt-5">
  <div class="container text-center">
    <small>Copyright &copy; BookFace - <%= Time.now.strftime("%Y") %></small>
    <small><%= link_to "Privacy Policy", "https://www.freeprivacypolicy.com/privacy/view/064121f64fb64c0ed83730f234e44ddd", target: :blank %></small>
  </div>
</footer>